* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    min-height: 100vh;
    background-color: #000000;
}

.main-div {
    display: grid;
    justify-content: center;
}

.blue-gradient {
    padding-top: 21vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
}

.middle {
    /* this z-index should be above the gradients */
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.red-gradient {
    padding-top: 10vh;
    padding-bottom: 21vh;
    display: flex;
    justify-content: center;
}

hr {
    height: 3px;
    width: 69vw;
    border: 0;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 9px;
}


p {
    font-family: 'Nachlieli CLM';
    font-size: 128px;
    font-weight: 600;
    line-height: 151px;
}