* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    font-family: 'Nachlieli CLM';
    min-height: 100vh;
    background-color: #000000;
}

.main-div {
    display: grid;
    justify-content: center;
}

.blue-gradient {
    padding-top: 21vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
}

.middle {
    /* this z-index should be above the gradients */
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.red-gradient {
    padding-top: 10vh;
    padding-bottom: 21vh;
    display: flex;
    justify-content: center;
}

hr {
    height: 3px;
    width: 69vw;
    border: 0;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 9px;
}

p.mode-label {
    font-size: 128px;
    font-weight: 600;
    line-height: 151px;
}

.mode-button {
    border: none;
    background: none;
}

#signature-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: .75rem;
}

#signature-modal::backdrop {
    background: rgb(0 0 0 / 0.4);
}

#close-modal {
    position: relative;
    float: right;
    cursor: pointer;
}

.container-verify-message {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#message {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button {
    cursor: pointer;
}